.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
    border-radius:.5em;
}

​input[type=checkbox] + label {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1em;
}